@import './partials/setup';
@import './partials/baseStyles';
@import './partials/typography';
@import './partials/header';
@import './partials/dashboard';
@import './partials/loginRegister';
@import './partials/taskForm';
@import './partials/taskItems';



