// baseStyles.scss

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

input {
    width: 100%;
}
