.login,
.register {
    width: min(1440px, 90vw);
    margin: 0 auto;

    form {
        width: max(300px, 50%);
        margin: 0 auto;
        background-color: rgb(26, 25, 30);
        border-radius: 15px;
        padding: 15px;
    }

    .formGroup {
        margin-top: 1.5rem;

        input {
            // background-color: rgb(26, 25, 30);
            border-radius: 15px;
            padding: 0.3rem;
            width: 100%;
        }
    }f

    button {
        background-color: black;
        border-radius: 15px;
        padding: 0.3rem;
        width: 100%;
    }
}