.taskItems {
    flex: 1 1 auto;
    padding: 15px;
    background-color: rgb(255, 248, 238);
    border-radius: 0 0 15px 15px;
    border: 5px solid rgb(111, 32, 77);
}

.taskItem {
    display: flex;
    justify-content: space-between;



    p {
        flex-grow: 2;
        padding: 0 15px;
    }
}

.grabIconContainer {
    display: flex;
    align-items: center;

    svg {
        cursor: grab;
    }
}

.isDragging {
    scale: 1.05;
    font-weight: 700;
}