.taskForm{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 255, 255, 0.141);
    display: grid;
    place-items: center;
    form {
        background-color: #000;
        padding: 0.5rem 1rem;
        border-radius: 15px;
    }
    .formGroup {
        padding: 0.5rem 0;
        select, textarea, button {
            background-color: rgb(26, 25, 30);
            border-radius: 15px;
            padding: 0.3rem;
            width: 100%;
        }
    }
}